
<form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
  <h2>Add New Expense</h2>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title"/>
    </mat-form-field> 
  </div>
  <span *ngIf="expenseForm.controls['title'].touched && expenseForm.controls['title'].invalid">
    Check title
  </span>
  <br />

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Amount</mat-label>
      <input matInput type="number"formControlName="amount"/>
    </mat-form-field> 
    </div>
    <span *ngIf="expenseForm.controls['amount'].touched && expenseForm.controls['amount'].invalid">
      Check amount
    </span>
    <br />
    <div>
    <mat-form-field apperarance="fill">
      <mat-label>Category</mat-label>
        <mat-select formControlName='category'>
            <mat-option *ngFor="let category of categories" [value]="category.value">{{category.viewValue}}</mat-option>
        </mat-select>
    </mat-form-field>
    </div>
    <span *ngIf="expenseForm.controls['category'].touched && expenseForm.controls['category'].invalid">
      Check category
    </span>  
  <br />
    <div>
      <mat-form-field>
        <mat-label>Date</mat-label>
        <input matInput type="date" formControlName="date" [matDatepicker]="picker">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      
    </div>
  <span *ngIf="expenseForm.controls['date'].touched && expenseForm.controls['date'].invalid">
    Check date
  </span>
  <br />

  <button mat-fab extended type="submit">Add </button>
  <div>
    <button mat-fab extended type="button" routerLink="/expenses" ><mat-icon>arrow_back_ios</mat-icon>Back</button>
  </div>
</form>
