<div *ngIf="expenses">
  <h2>Expense No {{ expenses.id }} Details:</h2>
  <mat-card class="expense-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{ expenses.title }}</mat-card-title>
        <mat-card-subtitle>{{ expenses.catgory }}</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content
      ><strong>Amount:</strong> {{ expenses.amount | currency:'INR':'symbol':'1.2-2'  }}</mat-card-content
    >
    <mat-card-content
      ><strong>Date:</strong> {{ expenses.date | date }}</mat-card-content
    >
    <mat-card-footer>
      <mat-chip-set class="buttons-field">
        <button mat-fab extended routerLink="/expenses">
          <mat-icon>arrow_back_ios</mat-icon>Back
        </button>
        <button mat-fab extended [routerLink]="['/edit-expenses', expenses.id]">
          <mat-icon>edit</mat-icon>Edit
        </button>
      </mat-chip-set>
    </mat-card-footer>
  </mat-card>
</div>
